.footer {
	background: #dcdcdc;
	padding: 50px 0;
}
.footer__links {
	display: flex;
	flex-direction: column;
}
.footer__column-title {
	font-size: 0.7rem;
	color: #333;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 0.5rem;
}
.footer__link {
	color: #333;
	text-decoration: none;
	font-size: 0.8rem;
	margin-bottom: 0.5rem;
	transition: all 0.3s ease-in-out;
}
.footer__link:hover {
	color: #fff;
}
.footer__extra {
	display: flex;
	flex-direction: column;
}
.footer__input {
	width: 100%;
	border-radius: 4px;
	padding: 5px 10px;
	border: none;
	font-size: 0.9rem;
	color: #333;
	margin-bottom: 0.5rem;
}
.footer button {
	width: 100%;
	border-radius: 4px;
	padding: 10px 40px;
	text-align: center;
	font-size: 1rem;
	margin-bottom: 1rem;
	transition: all 0.3s ease-in-out;
}
.footer button:hover {
	color: #fff;
	background: #333;
}
.footer__social-icons {
	display: flex;
	justify-content: flex-start;
}
.footer__social-icons > :first-child {
	padding-left: 0;
}
.footer__social-link {
	display: block;
	padding: 5px;
	color: #333;
	transition: all 0.3s ease-in-out;
}
.footer__social-link:hover {
	color: #fff;
}
.footer__bottom {
	border-top: 1px solid #333;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer__copyright {
	color: #333;
	font-size: 0.8rem;
	margin-top: 1rem;
}
.footer__extra-links {
	margin-top: 1rem;
}
.footer__extra-links a {
	color: #333;
	font-size: 0.8rem;
	text-decoration: none;
	padding: 0 15px;
	transition: all 0.3s ease-in-out;
}
.footer__extra-links a:hover {
	color: #fff;
}
