.hero2 {
	position: relative;
	width: 100%;
	overflow: hidden;
	display: flex;
	margin-bottom: 50px;
}
.hero2--25vh {
	height: 25vh;
}
.hero2--50vh {
	height: 50vh;
}
.hero2--75vh {
	height: 75vh;
}
.hero2--100vh {
	height: 100vh;
}
.hero2 .hero2__collection1 {
	height: 100%;
	width: 50%;
	position: relative;
}
.hero2 .hero2__collection1 .hero2__content-container {
	justify-content: flex-end;
	padding-right: 5rem;
}
.hero2 .hero2__collection2 {
	height: 100%;
	width: 50%;
	position: relative;
}
.hero2 .hero2__collection2 .hero2__content-container {
	justify-content: flex-start;
	padding-left: 5rem;
}
.hero2__content-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 7rem;
}
.hero2__bg {
	position: absolute;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.hero2__info {
	max-width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.hero2__button {
	width: 150px;
	color: #fff;
	background-color: transparent;
	border: 3px solid #fff;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	font-size: 1.3rem;
	letter-spacing: 0.15rem;
	transition: all 0.3s ease-in-out;
}
.hero2__button:hover {
	color: #fff;
	background: #333;
}
